body {
  background-color: lightblue;
  font-family: Comic Sans MS;
}
div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  background-color: lightyellow;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
p {
  position: absolute;
  background-color: white;
  bottom:-1em;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
  margin-right: -2px;
  font-size: 10pt;
}
img {
  max-height:100%;
  display: block;
  margin: 0 auto;
}
