body {
  background: lightblue;
}

div {
  text-align: center;
  overflow: hidden;
  border: 5px dotted red;
  width: 300px;
  background: yellow;
}

img {
  width: 100px;
  border: 2px solid black;
  padding: 10px;
  background: white;
  margin: 10px;
}

h1 {
  font-family: Impact;
  font-size: 50pt;
  text-decoration: underline overline;
  margin: 10px;
}

h3 {
  font-family: Impact;
  font-size: 18pt;
  margin: 10px;
}

p {
  font-family: Arial;
  font-size: 12pt;
  margin: 20px;
}